---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/Form.astro';
import Collapse from '../../components/Collapse.astro';
---

<Layout title="Таможенное оформление грузов|Универсальные Грузовые Решения">
  <main class="container mx-auto p-4">
    <Form heading="Таможенное оформление грузов">
      <div class="form-control">
        <div class="label">
          <span class="label-text">Вид услуги</span> 
        </div>
        <select class="select select-bordered w-full">
          <option disabled selected>Не выбрано</option>
          <option>Растоможка</option>
          <option>Затаможка</option>
        </select>
      </div>
      <div class="form-control">
        <div class="label">
          <span class="label-text">Участник ВЭД</span> 
        </div>
        <select class="select select-bordered w-full">
          <option disabled selected>Не выбрано</option>
          <option>Физическое лицо</option>
          <option>Индивидуальный предприниматель</option>
          <option>Юридическое лицо</option>
        </select>
      </div>
      <Collapse>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Международная перевозка грузов</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Сертификация</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Страхование</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <hr class="my-4">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Наименование грузов, товаров</span>
          </div>
          <input type="text" class="input input-bordered w-full" placeholder="Например: Бумага"/>
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Место таможенного оформления</span>
          </div>
          <input type="text" class="input input-bordered w-full" placeholder="Если есть пожилания"/>
        </label>
    </Form>
  </main>
</Layout>