---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/Form.astro';
import Collapse from '../../components/Collapse.astro';
---

<Layout title="Страхование|Универсальные Грузовые Решения">
  <main class="container mx-auto p-4">
    <Form heading='Страхование'>
      <Collapse>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Международная перевозка грузов</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Таможенное оформление</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Сертификация</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <hr class="my-4">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Стоимость груза</span>
          </div>
          <input type="text" class="input input-bordered w-full" placeholder="Например: 2500$"/>
      </Collapse>
    </Form>
  </main>
</Layout>