---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/Form.astro';
import Collapse from '../../components/Collapse.astro';
---

<Layout title="Международная перевозка грузов|Универсальные Грузовые Решения">
  <main class="container mx-auto p-4">
    <Form heading="Международные грузовые перевозки">
      <Collapse>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Таможенное оформление</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Сертификация</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Страхование</span> 
            <input type="checkbox" class="checkbox checkbox-primary" />
          </label>
        </div>
      </Collapse>
    </Form>
  </main>
</Layout>