---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Международная перевозка грузов|Универсальные Грузовые Решения">
  <main class="container mx-auto p-4">
    <form action="">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </main>
</Layout>