---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Заявки|Универсальные Грузовые Решения">
	<main class="container mx-auto p-4">
		<h1 class="text-3xl text-center">Универсальные Грузовые Решения</h1>
		<div class="flex flex-col gap-4 my-10">
			<a href="/forms/international" class="btn btn-primary">Международные грузовые перевозки</a>
			<a href="/forms/customs" class="btn btn-primary">Таможенное оформление</a>
			<a href="/forms/insurance" class="btn btn-primary">Страхование грузов</a>
			<a href="/forms/certificate" class="btn btn-primary">Сертификация	товаров</a>
		</div>
	</main>
</Layout>
