<div class="collapse bg-white my-4">
  <input type="checkbox" /> 
  <div class="collapse-title text-lg font-medium px-0">
    <div class="w-full text-white rounded-md bg-gradient-to-r from-violet-600 to-indigo-600 p-3 text-center">
      Доп. информация для заказа
    </div>
  </div>
  <div class="collapse-content px-0"> 
    <slot />
  </div>
</div>