<footer class="footer items-center p-4 bg-gradient-to-r from-violet-600 to-indigo-600 text-neutral-content">
  <div class="container mx-auto">
    <aside class="items-center grid-flow-col">
      <p class="text-xs mb-2">
        © 1997 - 2024. ООО «Универсальные грузовые решения».
      </p>
      <p class="text-xs mb-2">
        Все права защищены.  Информация приведенная на сайте не является публичной офертой согласно ст. 437 гражданского кодекса РФ.
      </p>
    </aside> 
  </div>
</footer>
</div>
<script is:inline src="https://telegram.org/js/telegram-web-app.js"></script>
<script is:inline>
  const tg = window.Telegram.WebApp;

  tg.expand();
</script>